<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overzicht van de boeken</title>
    <link rel="stylesheet" type="text/css" href="/css/library.css">
</head>
<body>
<h1>Overzicht van de boeken</h1>
<p>
    Hieronder volgt een overzicht van alle boeken die aangeboden worden in deze bibliotheek.
</p>

<table>
    <tr>
        <th>Id</th>
        <th>Titel</th>
        <th>Auteur</th>
    </tr>
    <tr th:each="book : ${allBooks}">
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
    </tr>
</table>

<a th:href="@{/book/new}">Maak een nieuw boek aan</a>

</body>
</html>